.myListings .listingsTitle {
    margin-top: 20px;
    color: white;
    background-color: #141414;
}
.sellButton2 {
    margin-top: 20px;
    background-color: #2196F3;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    overflow: auto;
    margin-right: 15px;
}
.history-info {
    margin-left: 5px;
}
.below {
    margin-left: 5px;
}
.sellButton {
    margin-top: 20px;
    background-color: #2196F3;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    overflow: auto;
    margin-right: 15px;
}
.sellButton a {
    color: white;
    text-decoration: none;
}
.pagination {
    color: white;
    float: right;
    margin-top: -5px;
    display: inline-block;
}
.pagination a, .disabled {
    background-color: #333333;
    transition: background-color .3s;
    border: 1px solid white;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
}
.disabled {
    color: black;
}
.pagination a.active {
    text-decoration: none;
    background-color: #4CAF50;
    color: black;
    border: 1px solid #4CAF50;
}
.pagination a:hover:not(.active) {background-color: white; color: black;}
.results {
    color: white;
}
.sellButton2 a {
    color: white;
    text-decoration: none;
}
.table td a {
    text-decoration: none;
    display: block;
    color: white;
}
.marketActivityTable {
    margin-top: 20px;
}
.marketActivityTable thead {
    background-color: #262626;
    color: #616161;
    font-size: 12px;
}
.marketActivityTable td {
    border-top: none !important;
    background-color: #333333;
    color: white;
}
.marketActivityTable tr {
    border-bottom: 5px solid #141414;
}
.marketActivityTable tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}
.marketActivityTable th {
    border-right: 1px solid #141414;
    border-bottom: none !important;
}
.img {
    float: left;
    vertical-align: middle;
    border: 3px solid black !important;
}
