.myListings .listingsTitle {
    margin-top: 20px;
    color: white;
    background-color: #141414;
}
.sellButton {
    margin-top: 20px;
    color: white;
    background-color: #2196F3;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    margin-right: 15px;
}
.listingsTable thead {
    background-color: #262626;
    color: #616161;
    font-size: 12px;
}
.listingsTable th {
    border-right: 1px solid #141414;
    border-bottom: none !important;
}
.listingsTable td {
    border-top: none !important;
    background-color: #333333;
    color: white;
}
.listingsTable tr {
    border-bottom: 5px solid #141414;
}
.listingsTable tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}
.listingsTable .img {
    float: left;
    vertical-align: middle;
}
.marketActivityTable {
    margin-top: 20px;
}
.marketActivityTable thead {
    background-color: #262626;
    color: #616161;
    font-size: 12px;
}
.marketActivityTable td {
    border-top: none !important;
    background-color: #333333;
    color: white;
}
.marketActivityTable tr {
    border-bottom: 5px solid #141414;
}
.marketActivityTable tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}
.marketActivityTable th {
    border-right: 1px solid #141414;
    border-bottom: none !important;
}
.img {
    float: left;
    vertical-align: middle;
    border: 3px solid black !important;
}
